.cardWrapper {
    position: relative;
    max-height: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.cardContainer {
    display: flex;
    flex-direction: row;
}

.cardContainer:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
} 

.cardContainer .cardImage {
    max-width: 200px;
    height: auto;
    color: #fff;
    -o-object-fit: cover;
    -o-object-position: center;
    object-fit: cover;
    object-position: center;
    background-color: var(--blueSix);
}

.cardContainer .cardBody {
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardBody .cardHeader {
    width: 100%;
    border-bottom: 1px solid var(--greyFour);
    display: flex;
    flex-direction: column;
}

.cardHeader .cardHeaderTitle {
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardHeader .cardHeaderPrice {
    align-self: flex-end;
}

.cardBody .cardBodyDescription {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardCheckbox {
    position: absolute;
    right: 15px;
    top: 15px;
}